.hdi-clearfix:after,
.hdi-clearfix:before {
    content: "";
    display: table;
}

.hdi-clearfix:after {
    clear: both;
}

.hdi-demo-importer-wrap * {
    box-sizing: border-box;
}

.hdi-demo-importer-wrap img {
    max-width: 100%;
}

.hdi-tab-filter {
    background: #FFF;
    border: 1px solid #DDD;
    margin-top: 20px;
    padding: 12px;
}

.hdi-tab {
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
}

.hdi-tab.hdi-active {
    background: #0073aa;
    color: #FFF;
}

.hdi-tag-group {
    float: right;
}

.hdi-pagebuilder-group {
    float: left;
}

.hdi-demo-box-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    margin-top: 25px;
}

.hdi-demo-box {
    margin: 0 0 40px;
    padding: 0 20px;
}

.hdi-demo-elements {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    position: relative;
}

.hdi-demo-box img {
    display: block;
    width: 100%;
}

.hdi-demo-box h4 {
    background-color: #fafafa;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hdi-ribbon {
    height: 75px;
    left: -8px;
    overflow: hidden;
    position: absolute;
    top: -8px;
    width: 75px;
}

.hdi-ribbon::before,
.hdi-ribbon::after {
    border: 5px solid #b12222;
    border-left-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}

.hdi-ribbon span {
    background-color: #d42929;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 8px 0;
    position: absolute;
    right: -12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    top: 13px;
    transform: rotate(-45deg);
    width: 120px;
}

.hdi-ribbon::before {
    right: 1px;
    top: 0;
}

.hdi-ribbon::after {
    bottom: 1px;
    left: 0;
}

.hdi-demo-actions {
    border-top: 1px solid #ddd;
    position: relative;
}

.hdi-demo-buttons {
    background: rgba(244, 244, 244, 0.8);
    bottom: 0;
    display: none;
    height: 48px;
    left: 0;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 0;
}

.hdi-demo-box:hover .hdi-demo-buttons {
    display: block;
}

.hdi-demo-buttons a {
    margin: 0 2px;
}

.hdi-modal {
    background: #fff;
    border: 1px solid #eee;
    margin-top: 30px;
}

.hdi-modal-header {
    background: #ffffff;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 15px 30px;
    position: relative;
}

.hdi-modal-header h2 {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.hdi-modal-header .hdi-modal-back {
    border-right: 1px solid #EEE;
    cursor: pointer;
    height: 48px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}

.hdi-modal-header .hdi-modal-back .dashicons {
    display: inline-block;
    font-size: 22px;
    line-height: 48px;
    opacity: 0.8;
}

.hdi-modal-wrap {
    padding: 30px;
}

.hdi-modal-wrap p {
    margin: 0 0 15px;
    padding: 0;
}

.hdi-modal-recommended-plugins h4,
.hdi-reset-checkbox h4,
.hdi-exclude-image-checkbox h4 {
    font-size: 16px;
    margin: 30px 0 15px;
}

.hdi-modal-recommended-plugins ul {
    margin: 0 0 15px;
    padding: 0;
}

.hdi-modal-recommended-plugins ul li {
    margin-bottom: 10px;
}

.hdi-plugin-status li .dashicons-warning,
.hdi-plugin-status .hdi-inactive i {
    color: #ffb900;
}

.hdi-plugin-status li .dashicons-dismiss,
.hdi-plugin-status .hdi-install i {
    color: #c00;
}

.hdi-plugin-status li .dashicons-yes-alt,
.hdi-plugin-status .hdi-active i {
    color: #46b450;
}

.hdi-reset-checkbox {
    border: 2px solid #EEE;
    margin: 30px 0;
    padding: 20px;
}

.hdi-reset-checkbox h4 {
    margin: 0 0 15px;
}

.hdi-reset-website-checkbox {
    color: #FF0000;
}

#hdi-import-progress {
    background: #FFF;
    margin-top: 25px;
    text-align: center;
}

#hdi-import-progress .hdi-import-progress-header {
    border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 15px;
}

.hdi-import-progress-wrap {
    padding: 40px;
}

#hdi-import-progress .hdi-import-loader svg {
    display: none;
}

#hdi-import-progress.import-success .hdi-import-loader svg {
    display: block;
}

#hdi-import-progress.import-success .hdi-import-loader img {
    display: none;
}

#hdi-import-progress .hdi-import-progress-message {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 50px;
}

.hdi-import-progress-message .button {
    margin: 0 4px;
}

body.hdi-modal-opened .hdi-tab-filter,
body.hdi-modal-opened .hdi-demo-box-wrap {
    display: none;
}

.hdi-loader-content {
    border: 5px solid #00adff;
    border-radius: 100%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

.hdi-loader-content-inside {
    height: 100%;
    position: relative;
    width: 100%;
}

.hdi-loader-rotater {
    animation: hdi-rotate 3s linear infinite 1s;
    height: 100%;
    position: relative;
    width: 100%;
}

.hdi-loader-rotater:before {
    background: #00adff;
    border-radius: 100%;
    content: "";
    height: 8px;
    margin-right: -4px;
    position: absolute;
    right: 50%;
    top: 0x;
    width: 8px;
}

.hdi-loader-line-point {
    bottom: 0;
    height: 24px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.15s ease 0.45s;
    width: 24px;
}

.hdi-loader-line-point:before,
.hdi-loader-line-point:after {
    background: #00adff;
    border-radius: 10px;
    bottom: -8px;
    content: "";
    height: 30px;
    position: absolute;
    transition: transform 0.1s ease 0.5s, right 0.1s ease 0.5s, left 0.1s ease 0.5s;
    width: 5px;
}

.hdi-loader-line-point:before {
    left: 0px;
    transform: rotate(-45deg);
}

.hdi-loader-line-point:after {
    right: 0px;
    transform: rotate(45deg);
}

.import-success .hdi-loader-content {
    animation: hdi-border-color 0.25s forwards 1s;
}

.import-success .hdi-loader-rotater {
    display: none;
}

.import-success .hdi-loader-line-point:after {
    animation: hdi-check-left 0.25s forwards 1s;
    right: -4px;
    transform: rotate(90deg);
}

.import-success .hdi-loader-line-point:before {
    animation: hdi-check-right 0.25s forwards 1s;
    left: -4px;
    transform: rotate(-90deg);
}

.import-error .hdi-loader-rotater {
    animation: none;
}

@keyframes hdi-check-left {
    0% {
        bottom: -8px;
        height: 30px;
        right: -4px;
        transform: rotate(90deg);
    }

    100% {
        background: #4BB543;
        bottom: -5px;
        height: 20px;
        right: -5px;
        transform: rotate(45deg);
    }
}

@keyframes hdi-check-right {
    0% {
        bottom: -8px;
        height: 30px;
        left: -4px;
        transform: rotate(-90deg);
    }

    100% {
        background: #4BB543;
        bottom: -10px;
        height: 40px;
        left: 4px;
        transform: rotate(-45deg);
    }
}

@keyframes hdi-border-color {
    0% {
        border: 6px solid #00adff;
    }

    100% {
        border: 6px solid #4BB543;
    }
}

@keyframes hdi-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.hdi-import-progress-message:after {
    animation: dots 1s linear infinite;
    content: '.';
}

.import-error .hdi-import-progress-message:after,
.import-success .hdi-import-progress-message:after {
    animation: none;
    content: '';
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: -0.25em 0 0 rgba(0, 0, 0, 0), -0.5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: #444;
        text-shadow: -0.25em 0 0 rgba(0, 0, 0, 0), -0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: -0.25em 0 0 #444, -0.5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow: -0.25em 0 0 #444, -0.5em 0 0 #444;
    }
}

.hdi-demo-box {
    width: 20%;
}

@media only screen and (max-width: 2000px) {
    .hdi-demo-box {
        width: 25%;
    }
}

@media only screen and (max-width: 1640px) {
    .hdi-demo-box {
        width: 33.33%;
    }
}

@media only screen and (max-width: 1120px) {
    .hdi-demo-box {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .hdi-demo-box {
        width: 100%;
    }
}

@media only screen and (min-width: 1120px) {
    .hdi-demo-importer-wrap {
        margin-left: 5%;
    }
}

@media screen and (max-width: 782px) {
    .hdi-demo-box h4 {
        line-height: 60px;
    }

    .hdi-demo-buttons {
        height: 60px;
    }
}